/* --------------------- Fonts connection --------------------- */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/static/Montserrat-Black.ttf") format("truetype");
    font-style: normal; 
    font-weight: 900; 
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/static/Montserrat-Bold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 700; 
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/static/Montserrat-Medium.ttf") format("truetype");
    font-style: normal; 
    font-weight: 500; 
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/static/Montserrat-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: 400; 
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/static/Montserrat-SemiBold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 600; 
}
body{
    font-family: "Montserrat";
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* --------------------- Section 1 --------------------- */
.Sec1Div{
    background-image: url(../images/Main.png);
    width: 1600px;
    height: 1111px;
}
.headerDiv{
    width: 1600px;
    height: 192px;
    padding: 27px 0 0 55px;
    display: flex;
}
.HeaderText{
    width: 462px;
    height: 50px;
    font-size: 24px;
    font-weight: 400;
    color: white;
    font-style: normal;
    line-height: 29px;
    margin-left: 156px;
    margin-top: 49px;
}
.HeaderNav p{
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-left: 7px;
}
.HeaderNav img{
    margin-left: 7px;
}
.phoneNumber{
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    color: white;
    text-align: right;
}
.iconsHeader{
    display: flex;
}
a{
    text-decoration: none;
    color: white;
}
.HeaderNav{
    margin: 45px 0 0 109px;
}
.MainText1{
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 19px;
}
.MainText2 span{
    color: #402D50;
}
.MainText2{
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin: 15px auto;
    width: 1368px;
    height: 98px;
    font-style: normal;
    text-align: center;
}
.ShortAbout{
    width: 539px;
    height: 407px;
    margin: 38px 0 0 116px;
}
.ShortAbout p{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: white;
    height: 58px;
    margin-left: 50px;
}
.ShortAbout div{
    display: flex;
    margin-bottom: 41px;
}
.Text1{
    width: 250px;
}
.Text2{
    width: 250px;
}
.Text3{
    width: 353px;
}
.Text4{
    width: 418px;
}
.ShortAboutContainerLast{
    margin-bottom: 0;
}
.GetPlanText{
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    margin: 69px 0 0 116px;
}
.buttonDownload{
    display: flex;
    width: 299px;
    height: 91px;
    background-color: #a56492;
    border-radius: 20px;
    filter: drop-shadow(0px 2px 22px #FFFFFF);
    margin: 54px 0 0 169px;
}
.GetTextButton{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    margin: 36px 0 0 17px;
}
.DownloadImage{
    width: 71px;
    height: 71px;
    margin: 9px 0 0 23px;
}
/* --------------------- Section 2 --------------------- */
.Sec2Div{
    width: 1600px;
    height: 779px;
    filter: drop-shadow(0px 4px 21px rgba(0, 0, 0, 0.25));
    background-color: white;
    display: flex;
}
.coronavirus{
    margin: 88px 182px 0 116px;
}
.bestTimeText{
    width: 409px;
    height: 48px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 64px;
}
.TextContainerUsualSec2{
    width: 602px;
    height: 312px;
}
.sec2TextContainer{
    margin-top: 100px;
}
.TextContainerUsualSec2 p{
    font-weight: 600;
    font-size: 20px;
}
.buttonSec2{
    background-color: #a56492;
    width: 480px;
    height: 91px;
    border-radius: 20px;
    padding: 31px 0 0 41px;
    margin-top: 64px;
    filter: drop-shadow(0px 2px 22px #000000);
}
.buttonSec2 p{
    font-weight: 500;
    font-size: 24px;
}
/* --------------------- Section 3 --------------------- */ 
.Sec3Div{
    width: 1600px;
    height: 872px;
    background-color: white;
    display: flex;
}
.Sec3Div p{
    font-size: 20px;
}
.DirectorContainer{
    margin: 100px 0 0 114px;
}
.DirectorText{
    font-weight: 600;
}
.DirectorName{
    font-weight: 700;
    color: #402D50;
}
.Sec3Div h4{
    font-size: 20px;
    font-weight: 700;
}
.TextAndInputsContainer{
    margin: 105px 0 0 166px;
    width: 624px;
    height: 667px;
}
.ExpertCleaningText{
    margin: 12px 0 21px 0;
}
.Sec3InputsContainer{
    margin-top: 59px;
}
/* --------------------- Inputs --------------------- */
.NameInput{
    width: 278px;
    height: 60px;
    background-color: #A9A6A8;
    border: 0px solid #A9A6A8;
    color: white;
    font-weight: 500;
    font-size: 24px;
    padding-left: 5px;
    border-radius: 20px;
}
.PhoneNumberInput{
    width: 278px;
    height: 60px;
    background-color: #A9A6A8;
    border: 0px solid #A9A6A8;
    font-weight: 500;
    font-size: 24px;
    border-radius: 20px;
    margin-left: 58px;
    color: white;
    padding-left: 5px;
}
.CallTimeInput{
    width: 278px;
    height: 91px;
    background-color: #A9A6A8;
    border: 0px solid #A9A6A8;
    font-weight: 500;
    font-size: 24px;
    border-radius: 20px;
    color: white;
    padding-bottom: 20px;
    padding-left: 5px;
}
/* --------------------- Violet text --------------------- */
.VioletText{
    color: #402D50;
}
/* --------------------- font-weight 700 --------------------- */
.Bold700{
    font-weight: 700;
}
/* --------------------- font-weight 600 --------------------- */
.SemiBold600{
    font-weight: 600;
}
input::-webkit-input-placeholder{ 
    color: white; 
    font-family: "Montserrat";
    font-weight: 500;
    white-space: pre-wrap;
    text-align: center;
}
.callInputAndButton{
   margin-top: 63px; 
   display: flex;
}
.callButtonSec3{
    display: flex;
    background-color: #a56492;
    width: 278px;
    height: 91px;
    padding-left: 38px;
    border-radius: 20px;
    margin-left: 58px;
}
#ToContact{
    font-weight: 500;
    margin: 31px 0 0 9px;
    font-size: 24px;
}
.phoneSec3{
    width: 61px;
    height: 61px;
    margin-top: 15px;
}
/* --------------------- Section 4 --------------------- */
.Sec4Div{
    width: 1600px;
    height: 1674px;
    background-image: url(../images/VideoSec.png);
    border-bottom: 2px solid grey;
}
.VideoHolder{
    width: 1023px;
    height: 552.27px;
    margin: 124px 288px;
    background-color: #A9A6A8;
}
.VideoSecTextH2{
    font-size: 36px;
    font-weight: 700;
    width: 1003px;
    height: 90px;
    text-align: center;
    margin: 0 auto;
}
.VideoSecTextH2 span{
    color: #402D50;
}
.ToBeFirst{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    width: 602px;
    height: 57.38px;
    margin: 15.57px auto;
}
.inputsAndButtonHolderSec4{
    width: 1368px;
    height: 60px;
    display: flex;
    margin-top: 554px;
    margin-left: 116px;
}
.Sec4Input{
    width: 300px;
    height: 60px;
    background-color: #A9A6A8;
    border: 0px solid #A9A6A8;
    border-radius: 20px;
    font-size: 24px;
    padding-left: 5px;
    color: white;
    margin-right: 56px;
}
.Sec4Button{
    width: 300px;
    height: 60px;
    background-color: #a56492;
    border-radius: 20px;
    padding: 16px 0 0 79px;
}
#ToCheck{
    font-weight: 500;
    font-size: 24px;
}
/* --------------------- Section 5 --------------------- */
.Sec5Div{
    width: 1600px;
    height: 949px;
    background-color: white;
}
.circleSec5{
    width: 157px;
    height: 157px;
    background-color: #a56492;
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    align-items: center;
    
}
.firstRow{
    display: flex;
    margin-bottom: 80px;
}
.SecondRow{
    display: flex;
}
.Offerings img{
    margin: 0 auto;
}
.Offerings{
    margin-left: 369px;
}
.CircleContainer2{
    margin-left: 34px;
}
.CircleContainer3{
    margin-left: 46px;
}
.Sec5Div h2{
    width: 664px;
    height: 88px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 100px 0 0 468px;
}
.ExpertCleaningTextSec5{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 900px;
    height: 48px;
    margin: 28px 0 47px 350px;
}
.Offerings p{
    font-weight: 700;
    font-size: 20px;
    height: 48px;
    text-align: center;
}
.OfferingsText1{
    width: 171px;
}
.OfferingsText2{
    width: 184px;
}
.OfferingsText3{
    width: 162px;
}
.OfferingsText4{
    width: 242px;
}
.OfferingsText5{
    width: 157px;
}
.OfferingsText6{
    width: 201px;
}
.OfferingsText7{
    width: 157px;
}
.OfferingsText8{
    width: 157px;
}
.Image1Sec5{
    margin: 0 0 20px 7px;
}
.Image2Sec5{
    margin: 0 0 23px 13px;
}
.Image3Sec5{
    margin: 0 0 23px 3px;
}
.Image4Sec5{
    margin: 0 0 19px 42px;
}
.Image5Sec5{
    margin-bottom: 20px;
}
.Image6Sec5{
    margin: 0 0 25px 22px;
}
.Image7Sec5{
    margin-bottom: 20px;
}
.Image8Sec5{
    margin-bottom: 20px;
}
.OfferingsText5 p{
    margin-left: 20px;
    text-align: center;
}
/* --------------------- Section 6 --------------------- */
.Sec6Div{
    width: 1600px;
    height: 671px;
    background-color: white;
    display: flex;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;   
}
.textOurEmployees{
    font-weight: 700;
    font-size: 36px;
    width: 378px;
    height: 133px;
    margin: 100px 218px 0 165px;
}
.cleaners{
    width: 693px;
    height: 733px;
}
.thumbsUpContainer{
    width: 402px;
    height: 98px;
    display: flex;
    margin: 241px 0 0 165px;
}
.textThumbUp{
    font-weight: 600;
    font-size: 20px;
    width: 290px;
    height: 52px;
    margin: 23px 0 0 14px;
}
/* --------------------- Section 7 --------------------- */
.Sec7Div{
    width: 1600px;
    height: 862px;
    background-color: white;
    border-bottom: 10px solid grey;
}
.HowToEarn{
    width: 900px;
    height: 108px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 108px auto 0 auto;
}
.HowToEarn span{
    color: white;
    background-color: #a56492;
}
.CalculationsText{
    font-weight: 600;
    font-size: 20px;
    margin: 12px 0 0 422px;
}
.AveragePayText{
    font-weight: 700;
    font-size: 30px;
    margin-top: 2.32px;
}
.AveragePayText span{
    color: #402D50;
}
.Rub8500Text{
    color: white;
    background-color: #a56492;
    font-weight: 700;
    font-size: 30px;
    width: 289px;
    height: 48px;
    text-align: center;
    margin-left: 30px;
    padding-top: 2.32px;
}
.TextHolderSec7{
    width: 1028px;
    height: 58px;
    display: flex;
    margin: 10px 0 0 300px;
}
.statistics{
    margin: 28px 0 0 116px;
    width: 1368px;
    height: 418px;
}
.line{
    width: 709px;
    margin-left: 300px;
}
/* --------------------- Section 8 --------------------- */
.Sec8Div{
    width: 1600px;
    height: 568px;
    background-color: white;
    text-align: center;
    border-bottom: 10px solid grey;
}
.HowManyOrdersText{
    font-weight: 700;
    font-size: 36px;
    width: 748px;
    height: 110px;
    margin: 100px 0 0 426px;
}
.HowManyOrdersText span{
    color: white;
    background-color: #a56492; 
}
.CountMoneyHolder{
    width: 905px;
    height: 181px;
    display: flex;
}
.CountMoneyHolder h2{
    font-size: 60px;
    font-weight: 700;
}
.wantedEarnings{
    color: white;
    background-color: #a56492;
    width: 129px;
    height: 63px;
    margin: 3px 0 0 31px; 
    padding: 10px 0 0 5px;
    font-size: 18px;
    font-weight: 700;
}
.wantedEarningsHolder{
    width: 477px;
    height: 73px;
    display: flex;
    margin: 77px 0 0 347px;
}
.Line2{
    margin-left: 347px;
}
.EarningsFromOneHolder{
    width: 477px;
    height: 78px;
    display: flex;
    margin: 15px 0 0 347px;
}
.EarningsFromOne{
    width: 124px;
    height: 71px;
    background-color: #a56492;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-left: 121px;
}
.equals{
    width: 80px;
    height: 22px;
    margin-top: 154px;
    margin-left: 21px;
}
.orders74{
    width: 306px;
    height: 73px;
    margin: 128px 0 0 21px;
    white-space: nowrap;
}
/* --------------------- Section 9 --------------------- */
.Sec9Div{
    width: 1600px;
    height: 778px;
    background-color: white;
    background-image: url(../images/bgWorkers.png);
    border-bottom: 10px solid grey;
    padding-top: 100px;
}
.MainTextSec9{
    width: 1097px;
    height: 107px;
    margin-left: 251px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.MainTextSec9 span{
    background-color: #a56492;
    color: white;
}
.HowManyEmployeesSec9Holder{
    width: 641px;
    height: 401px;
    margin: 70px 0 0 117px;
}
.PeopleStudyingHolder{
    width: 641px;
    height: 116px;
    display: flex;
}
.PeopleStudyingHolder img{
    width: 71px;
    height: 77px;
    margin-top: 13px;
}
.PeopleStudyingHolder p{
    font-weight: 700;
    font-size: 24px;
    width: 520px;
    height: 116px;
    margin-left: 50px; 
}
.ExpertCleaningSpan1{
    color: #402D50;
}
.Employees7{
    font-weight: 500;
}
.PaymentForWorkHolder{
    margin-top: 42px;
    width: 641px;
    height: 85px;
    display: flex;
}
.PaymentForWorkHolder img{
    height: 71px;
    width: 71px;
    margin-top: 1px;
}
.PaymentForWorkHolder p{
    font-size: 24px;
    font-weight: 700;
    margin-left: 50px;
}
.PaymentForWorkHolder span{
    font-weight: 500;
}
.ManagerPaymentHolder{
    width: 638px;
    height: 116px;
    display: flex;
    margin-top: 42px;
}
.ManagerPaymentHolder img{
    width: 71px;
    height: 71px;
    margin-top: 16px;
}
.ManagerPaymentHolder p{
    font-weight: 700;
    font-size: 24px;
    width: 517px;
    height: 116px;
    margin-left: 50px;
}
.ManagerPaymentHolder span{
    font-weight: 500;
}
/* --------------------- Section 10 --------------------- */
.Sec10Div{
    width: 1600px;
    height: 465px;
    background-color: white;
    display: flex;
    border-bottom: 10px solid grey;
}
.PaymentSec10{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}
.PaymentInGeneralHolder p{
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0 35px 0;
}
.PaymentInGeneralHolder{
    margin: 100px 0 0 120px;
}
.Sec10Bold{
    font-weight: 700;
}
.Sec10White{
    background-color: #a56492;
    color: white;
}
.PaymentInGeneralHolder .Sec10White{
    margin-top: 10px;
}
.brace{
    width: 29px;
    height: 112px;
    margin: 231px 0 0 53px;
}
.thunmbUpHolderSec10{
    width: 361px;
    height: 116px;
    display: flex;
    margin: 225px 0 0 96px;
}
.thunmbUpHolderSec10 p{
    font-size: 24px;
    margin-left: 21px;
    font-weight: 500;
}
.thunmbUpHolderSec10 img{
    margin-top: 9px;
    width: 99px;
    height: 98px;
}
/* --------------------- Section 11 --------------------- */
.Sec11Div{
    width: 1600px;
    height: 640px;
    background-color: white;
    border-bottom: 10px solid grey;
    background-image: url(../images/costBg.svg);
}
.MainTextSec11{
    font-size: 36px;
    font-weight: 700;
    margin: 100px 0 0 266px;
    width: 996px;
    height: 44px;
}
.Sec11Div h2{
    font-size: 36px;
    font-weight: 700;
}
.Sec11White{
    background-color: #a56492;
    color: white;
}
.Sec11Bold{
    font-weight: 700;
}
.Sec11TextsHolder p{
    font-size: 24px;
    font-weight: 500px;
    margin-top: 35px;
}
.Sec11TextsHolder{
    margin: 60px 0 0 119px;
    display: flex;
}
.ClearEarningTextSec11{
    margin: 121px 0 0 102px;
}
.RoublesTextSec11{
    margin: 101px 0 0 325px;
}
/* --------------------- Section 12 --------------------- */
.Sec12Div{
    width: 1600px;
    height: 461px;
    background-color: white;
    display: flex;
    border-bottom: 10px solid grey;
}
.Excel{
    width: 286px;
    height: 276px;
    margin: 102px 0 0 84px;
}
.Sec12TextsAndButtonsHolder{
    width: 1114px;
    height: 261px;
    margin-top: 100px;
}
.Sec12TextsAndButtonsHolder p{
    font-size: 24px;
    font-weight: 500;
}
.Sec12TextsAndButtonsHolder h2{
    font-size: 36px;
    font-weight: 700;
    margin: 23px 0 12px 0;
}
.inputsAndButtonsSec12{
    width: 1150px;
    height: 60px;
    display: flex;
}
.PhoneNumberInputSec12{
    width: 305px;
    height: 60px;
    background-color: #A9A6A8;
    border: 2px solid #A9A6A8;
    color: white;
    padding-left: 5px;
    font-size: 24px;
    border-radius: 20px;
    font-weight: 500;
    margin-left: 85.5px;
}
.NameInputSec12{
    width: 305px;
    height: 60px;
    background-color: #A9A6A8;
    border: 2px solid #A9A6A8;
    color: white;
    padding-left: 5px;
    font-size: 24px;
    border-radius: 20px;
    font-weight: 500;
}
.Sec12Button{
    width: 330px;
    height: 60px;
    background-color: #a56492;
    border-radius: 20px;
    display: flex;
    margin-left: 85.5px;
}
.Sec12Button img{
    width: 60.3px;
    height: 55px;
    margin: 2px 0 0 47px;
}
.Sec12Button p{
    text-transform: uppercase;
    margin: 17px 0 0 13px;
}
/* --------------------- Section 13 --------------------- */
.Sec13Div{
    width: 1600px;
    height: 1269px;
    background-color: white;
    border-bottom: 10px solid grey;
    text-align: center;
}
.Sec13Div h2{
    width: 810px;
    height: 88px;
    font-weight: 700;
    font-size: 36px;
    margin: 100px auto 28px auto;
}
.Sec13Div span{
    color: #402D50;
}
.Sec13Div p{
    font-weight: 700;
    font-size: 20px;
}
.AllYouNeedSec13{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 29px;
}
.RowSec13{
    width: 1367px;
    height: 260px;
    margin: 0 0 48px 116px;
    display: flex;
    justify-content: space-between;
}
.VioletSquare{
    width: 260px;
    height: 260px;
    background-color: #a56492;
    padding-top: 35px;
}
.InvisibleSquare{
    width: 260px;
    height: 260px;
}
.bookSec13{
    margin-bottom: 27px;
}
.CupSec13{
    margin: 5px 0 56px 0;
}
.PhotoAndVideoSec13{
    margin: 5px 0 32px 0;
}
.TargetSec13{
    margin: 5px 0 56px 0;
}
.LineUpSec13{
    margin-bottom: 61px;
}
.HelperSec13{
    margin-bottom: 49px;
}
.StatsSec13{
    margin-bottom: 49px;
}
.HammerSec13{
    margin: 14px 0 49px 0;
}
.ExcelListSec13{
    margin-bottom: 48px;
}
.StudyHatSec13{
    margin-bottom: 28px;
}
.booksSec13{
    margin-bottom: 48px; 
}
/* --------------------- Section 14 --------------------- */
.Sec14Div{
    width: 1600px;
    height: 1216px;
    background-color: white;
    border-bottom: 10px solid grey;
    background-image: url(../images/StyleSec3.png);
    text-align: center;
    padding-top: 100px;
}
.Sec14Div h2{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 28px;
}
.Sec14Div p{
    font-size: 20px;
    font-weight: 600;
}
.Sec14Button{
    width: 453px;
    height: 80px;
    background-color: #a56492;
    border-radius: 20px;
    margin: 816px 0 0 546px;
    padding-top: 24px;
}
.Sec14Button p{
    font-size: 24px;
    font-weight: 700;
}
/* --------------------- Section 15 --------------------- */
.Sec15Div{
    width: 1600px;
    height: 699px;
    background-color: white;
    border-bottom: 10px solid grey;
    text-align: center;
    padding-top: 100px;
}
.Sec15Div h2{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 64px;
}
.GrayRectangle{
    width: 325px;
    height: 185px;
    background-color: #c4c4c4;
}
.RowSec15{
    display: flex;
    width: 1269px;
    height: 185px;
    justify-content: space-between;
    margin: 0 0 21px 164px;
}
/* --------------------- Section 16 --------------------- */
.Sec16Div{
    width: 1600px;
    height: 494px;
    background-color: white;
    text-align: center;
    border-bottom: 10px solid grey;
    background-image: url(../images/becomeFirstBg.png);
    padding-top: 188px;
}
.Sec16Div h2{
    font-size: 48px;
    font-weight: 700;
}
/* --------------------- Section 17 --------------------- */
.Sec17Div{
    width: 1600px;
    height: 432px;
    background-color: white;
    border-bottom: 10px solid grey;
    text-align: center;
    padding-top: 100px;
}
.Sec17Div h2{
    font-size: 36px;
    font-weight: 700;
}
.Sec17Div p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px; 
}
.Sec17ButtonAndInputsContainer{
    display: flex;
    width: 1267px;
    height: 60px;
    margin: 30px 0 0 166px;
    justify-content: space-between;
}
.NameInputSec17{
    width: 300px;
    height: 60px;
    background-color: #A9A6A8;
    border: 2px solid #A9A6A8;
    padding-left: 5px;
    color: white;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 500;
}
.PhoneNumberInputSec17{
    width: 300px;
    height: 60px;
    background-color: #A9A6A8;
    border: 2px solid #A9A6A8;
    padding-left: 5px;
    color: white;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 500;
}
.ButtonSec17_18{
    width: 456px;
    height: 60px;
    border-radius: 20px;
    background-color: #a56492;
    color: white;
    font-weight: 500;
    font-size: 24px;
    padding-top: 14px; 
}
/* --------------------- Section 18 --------------------- */
.Sec18Div{
    width: 1600px;
    height: 911px;
    background-color: white;
    text-align: center;
    border-bottom: 10px solid grey;
    padding-top: 100px;
}
.Sec18Div h2{
    font-size: 36px;
    font-weight: 700;
}
.Sec18Div{
    font-size: 20px;
    font-weight: 700;
}
.usefulFilesContainer{
    width: 1367px;
    height: 260px;
    display: flex;
    justify-content: space-between;
    margin: 59px auto 43px auto;
}
.LeaveInfo{
    margin-top: 68px;
}
.InputsAndButtonSec18{
    display: flex;
    justify-content: space-between;
    width: 1368px;
    height: 60px;
    margin: 38px auto;
}
.NameInputSec18{
    width: 233px;
    height: 60px;
    border: 2px solid #A9A6A8;
    background-color: #A9A6A8;
    color: white;
    padding-left: 5px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 500; 
}
.PhoneNumberInputSec18{
    width: 242px;
    height: 60px;
    border: 2px solid #A9A6A8;
    background-color: #A9A6A8;
    color: white;
    padding-left: 5px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 500; 
}
.EmailInputSec18{
    width: 215px;
    height: 60px;
    border: 2px solid #A9A6A8;
    background-color: #A9A6A8;
    color: white;
    padding-left: 5px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 500; 
}
/* --------------------- Section 19 --------------------- */
.Sec19Div{
    width: 1600px;
    height: 813px;
    background-color: white;
    border-bottom: 10px solid grey;
    text-align: center;
    padding-top: 100px;
}
.Sec19Div h2{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 59px;
}
.QuestionAnswerContainer{
    width: 1317px;
    height: 61.39px;
    margin: 0 auto 14px auto;
    display: flex;
    justify-content: left;
}
.QuestionAnswerContainer p{
    font-weight: 700;
    font-size: 20px;
    margin: auto 0 auto 14px;
}
.QuestionAnswerContainer span{
    color: #402D50;
}
.QuestionAnswerContainer:hover{
    cursor: pointer;
}
.QuestionAnswerContainer:hover::after{
    content:attr(data-title);
    margin: auto 0 auto 14px;
    position: absolute;
    margin: 40px 0 0 70px;
}
/* --------------------- Section 20 --------------------- */
.Sec20Div{
    width: 1600px;
    height: 872px;
    background-color: white;
    display: flex;
    border-bottom: 10px solid grey;
    padding: 100px 0 0 117px;
}
.Sec20Div h2{
    font-size: 36px;
    font-weight: 700;
}
.FranshizaCosts p{
    font-size: 20px;
    font-weight: 500;
    width: 613px;
    margin: 28px 0 28px 0; 
}
.Director2NameSec17{
    font-weight: 600;
    font-size: 20px;
    width: 257px;
    margin-left: 159px;
}
.Director2NameSec17 span{
    font-weight: 700;
    color: #402D50;
}
.Director2Sec17 img{
    width: 576px;
    height: 572px;
    margin: 35px 0 0 180px;
}
/* --------------------- Section 21 --------------------- */
.Sec21Div{
    width: 1600px;
    height: 465px;
    background-color: white;
    display: flex;
    border-bottom: 10px solid grey;
}
/* --------------------- Section 22 --------------------- */
.Sec22Div{
    width: 1600px;
    height: 465px;
    background-color: white;
    display: flex;
    border-bottom: 10px solid grey;
}